@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

@font-face {
  font-family: 'Digital';
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot');
  src: url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.eot?#iefix')
      format('embedded-opentype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff2')
      format('woff2'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.woff')
      format('woff'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.ttf')
      format('truetype'),
    url('//db.onlinewebfonts.com/t/8e22783d707ad140bffe18b2a3812529.svg#Digital-7')
      format('svg');
}

html,body {
  height: 100vh;
  background-color: #c2c2d6;
  font-family: Share Tech Mono, sans;
}
#signature {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: auto;
  background-color: black;
  color: white;
  padding: 10px;
  display:grid;
  grid-template: "d d d d" auto
                 "ac ac divide multiply" minmax(60px, auto)
                 "seven eight nine subtract" minmax(60px, auto)
                 "four five six add" minmax(60px, auto)
                 "one two three equals" minmax(60px, auto)
                 "zero zero decimal equals" minmax(60px, auto);
  grid-gap: 1px;
}

#displayDiv {
  grid-area: d;
  height: auto;
  padding: 0;
  margin: 0;
}
#memoryDisplay{
  margin: 0;
  min-height: 20px;
  height: auto;
  max-width: 300px;
  font-size: 20px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: digital;
  font-weight: 100;
}
#display {
  max-width: 300px;
  font-size: 29px;
  color: white;
  text-align: right;
  min-height: 35px;
  line-height: 35px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-family: digital;
  font-weight: 100;
}

.operator{
  background-color: #666666;
  color: white;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.inputButton{
  background-color: #4d4d4d;
  color: white;
  font-family: Share Tech Mono, monospace;
  font-size: 20px;
  cursor: pointer;
  border: none;
}
.operator:hover, .inputButton:hover {
  color:black;
  outline: 0.05em solid grey;
  z-index: 3;
}
#add {
  grid-area: add;
}
#subtract {
  grid-area: subtract;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}
#clear {
  grid-area: ac;
  background-color: #ac3939;
}
#equals {
  grid-area: equals;
  background-color: #004466;
}
#clear {
  grid-area: ac;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine {
  grid-area: nine;
}
#zero {
  grid-area: zero;
}
#decimal {
  grid-area: decimal;
}

